.inventory-card {
    background-color: #F5F5F7;
    margin: mx-0 auto;
    padding: 10px;
    margin-top: 20px;
}

.quantity {
    font-weight: 500;
}

.supplier-email {
    color: darkgray;
}

.submit-btn {

    border: 0;
    border-radius: 5px;
    padding: 5px;
}

.delivery-Btn {
    background-color: #198754;
    color: white;
    border-radius: 5px;
    border: 0;
    width: 120px;
    height: 40px;
}

.delivery-Btn:hover {
    background-color: white;
    color: #198754;
}

.inventory-main {
    margin-top: 80px;
}