.card-img {
    height: 200px;
}

.card-bg {
    background-color: rgb(240, 230, 235);
}

.title-name {
    color: rgb(248, 157, 37);
}

.text-color {
    color: blueviolet;
    font-weight: 500;
}

.apple-price {
    color: #ff0c00c4;
    font-weight: 400;
}

.apple-quantity {
    color: #7f89ff;
    font-weight: 500;
}

.apple-suplier {
    color: #c1187d;
}