.card-img {
    height: 200px;
}

.card-bg {
    background-color: #FFFFFF;
}

.title-name {
    color: #111312;
}



.apple-price {
    color: #0f1110;
    font-weight: 400;
}

.apple-quantity {
    color: #0f1110;
    font-weight: 500;
}