.card-img-feedback {
    height: 130px;
    width: 50%;
    border-radius: 50%;
    margin-left: 20px;
    margin-top: 10px;
    text-align: center;
}

.reviewCard {
    background-color: rgb(250, 247, 232);
    height: 300px;
}

.feedback-container {
    background-color: #F5F5F7;
    padding: 20px;
}

.card .background-Effect {
    bottom: 0;
    height: 0px;
    width: 100%
}